body {
    background-color: #5CE1E6;
    font-family: Comfortaa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    padding-top: 15vh;
    padding-left: 19vw;
    padding-bottom: 15vh;
}

#pricebuttons {
    display: flex;
    justify-content: center;
    align-items: center;

}

#contactform {
    background-color: #FFE867;
    font-family: Fredoka One;
    flood-color: #5CE1E6;
    display: flex;
    flex-direction: column;
    min-height: 47vh;
}

#sendbutton {
    display: flex;
    justify-content: end;
    align-items: right;
}


#invalidcheck3 {
    padding-left: 3rem;
}

/* <-- Footer/media quieries --> */
#sticky-footer {
    padding: 3rem;
    margin-top: auto;
}

.footer-links {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #FFE867;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 600px) {
    #contactform {
        font-size: 1.25rem;
    }
}

@media (min-width: 800px) {
    #contactform {
        font-size: 1.25rem;
    }
}

@media only screen and (orientation: landscape) {
    #contactform {

        background-color: initial;
    }