body {
    background-color:  rgb(71, 131, 81);
}

/* #header {
    padding-top: 15vh;
    padding-left: 19vw;
    padding-bottom: 15vh;
}

#pricebuttons {
    display: flex;
    justify-content: center;
    align-items: center;

} 

.pricinginfo {
    padding-top: 20vh;
} */

.