#pricing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'helvetica';
  background-color: #2F5972;
}

#rein1 {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  perspective: 1000px;

}

.container > p {
  width: 100%;
  margin: 0 30px;
}

.card {
  width: 20vw;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
  font-size: 1.2em; 
  cursor: pointer;
}

.card {
  width: 20vw;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
  font-size: 1.2em; 
  cursor: pointer;
}
.card-block {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 35px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-back .text {
  margin: 0 35px;
}

.card-front {
  background: #DEF9FA;
}
.card-back {
  background: #F3CD74;
  color: black;
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
}

.thunder {
  background: #F3CD74;
  color: black;
  transform: rotateY(180deg);
}

.card.flipped.thunder{
  transform: rotateY(180deg);
}

.card-back {
  background: #F3CD74;
  color: black;
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
}

/* .card:hover {
  transform: rotateY(180deg);
} */


/* ???????QUESTION???????? */
@media (max-width: 768px)

  .container {
      flex-direction: column;
      margin: 15px;
  }
  .container > p { 
      margin-top: 25px;
  }

  .card-block {
      flex-direction: column;
      text-align: center;
      font-size: 0.9em;
  }

  .card-block .text {
      margin: 0;
  }

  #header {
      padding-top: 15vh;
      padding-left: 19vw;
      padding-bottom: 15vh;
  }
  
  #pricebuttons {
      display: flex;
      justify-content: center;
      align-items: center;
  
  } 
  .pricinginfo {
      padding-top: 20vh;
  }
 